                  :root {
                     --main-color: #027581;
                     --color-dark: #1D2231;
                     --text-grey: #8390A2;
                 }
                 
                 body {
                     background: linear-gradient(45deg, #027581, #1D2231);
                     height: 100vh;
                     font-family: arial, sans-serif;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     /* background-image: url('img/info2.jpg');*/
                     background-repeat: no-repeat;
                     background-position: center;
                 }
                 
                 .container {
                     position: relative;
                 }
                 
                 form {
                     background: rgba(255, 255, 255, .3);
                     padding: 3rem;
                     height: 400px;
                     border-radius: 20px;
                     border-left: 1px solid rgba(255, 255, 255, .3);
                     border-top: 1px solid rgba(255, 255, 255, .3);
                     backdrop-filter: blur(10px);
                     -webkit-backdrop-filter: blur(10px);
                     -moz-backdrop-filter: blur(10px);
                     box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
                     text-align: center;
                 }
                 
                 h2 {
                     color: rgb(5, 5, 5);
                     font-weight: 500;
                     opacity: .7;
                     font-size: 1.4rem;
                     margin-bottom: 60px;
                     text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
                 }
                 
                 input {
                     background: transparent;
                     border: none;
                     border-left: 1px solid rgba(255, 255, 255, .3);
                     border-top: 1px solid rgba(255, 255, 255, .3);
                     padding: 1rem;
                     width: 200px;
                     border-radius: 50px;
                     backdrop-filter: blur(5px);
                     -webkit-backdrop-filter: blur(5px);
                     -moz-backdrop-filter: blur(5px);
                     box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
                     color: rgb(63, 62, 62);
                     font-weight: 500;
                     text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
                     transition: all .3s;
                     margin-bottom: 2em;
                 }
                 
                 input:hover,
                 input[type="text"]:focus,
                 input[type="password"]:focus {
                     background: rgba(255, 255, 255, 0.1);
                     box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
                 }
                 
                 .b {
                     margin-top: 10px;
                     width: 150px;
                     font-size: 1rem;
                     cursor: pointer;
                     background: transparent;
                     border: none;
                     border-left: 1px solid rgba(0, 0, 0, 0.3);
                     border-top: 1px solid rgba(0, 0, 0, 0.3);
                     border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                     border-right: 1px solid rgba(2, 2, 2, 0.3);
                     ;
                     padding: 1rem;
                     width: 200px;
                     border-radius: 50px;
                     backdrop-filter: blur(5px);
                     -webkit-backdrop-filter: blur(5px);
                     -moz-backdrop-filter: blur(5px);
                     box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
                     color: rgb(19, 18, 18);
                     font-weight: 500;
                     text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
                     transition: all .3s;
                     margin-bottom: 2em;
                 }
                 
                  ::placeholder {
                     color: rgb(66, 64, 64);
                 }
                 
                 .drop-1 {
                     height: 80px;
                     width: 80px;
                     top: -20px;
                     left: -40px;
                     z-index: -1;
                 }
                 
                 .error {
                     background: #F2DEDE;
                     color: #A94442;
                     padding: 10px;
                     width: 95%;
                     border-radius: 5px;
                     margin: 20px auto;
                 }
                 
                 h1 {
                     text-align: center;
                     color: #fff;
                 }
                 
                 a {
                     float: right;
                     background: #555;
                     padding: 10px 15px;
                     color: #fff;
                     border-radius: 5px;
                     margin-right: 10px;
                     border: none;
                     text-decoration: none;
                 }
                 
                 a:hover {
                     opacity: .7;
                 }
                 
                 .drop {
                     background: rgba(255, 255, 255, .3);
                     backdrop-filter: blur(10px);
                     -webkit-backdrop-filter: blur(10px);
                     border-radius: 10px;
                     border-left: 1px solid rgba(255, 255, 255, .3);
                     border-top: 1px solid rgba(255, 255, 255, .3);
                     box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
                     position: absolute;
                     transition: all 0.2s ease;
                 }