/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */

 :root {
    --main-color: #027581;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.card-body {
    text-align: center;
    align-content: center;
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px 50px 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-style-8 {
    text-align: center;
    align-content: center;
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    height: 530px;
    padding: 30px;
    background: #FFFFFF;
    margin-left: 18%;
    margin-bottom: -5%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-style-8cli {
    text-align: center;
    align-content: center;
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    height: 530px;
    padding: 30px;
    background: #FFFFFF;
    margin-left: 30%;
    margin-bottom: -5%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-style-8four {
    text-align: center;
    align-content: center;
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    height: 530px;
    padding: 30px;
    background: #FFFFFF;
    margin-left: 31%;
    margin-bottom: -5%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-style-8 h2,
.form-style-8cli h2,
.form-style-8four h2 {
    text-align: center;
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.form-style-8 input[type="text"],
.form-style-8cli input[type="text"],
.form-style-8four input[type="text"] {
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.form-style-8 textarea,
.form-style-8cli textarea,
.form-style-8four textarea {
    resize: none;
    overflow: hidden;
}

.btn-primary,

/* .btn-primary .a, */

a sspan {
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* .form-style-8 input[type="button"],
.form-style-8 input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px var(--main-color);
    -webkit-box-shadow: inset 0px 1px 0px 0px var(--main-color);
    box-shadow: inset 0px 1px 0px 0px var(--main-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
} */

.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover,
.form-style-8cli input[type="button"]:hover,
.form-style-8cli input[type="submit"]:hover,
.form-style-8four input[type="button"]:hover,
.form-style-8four input[type="submit"]:hover {
    background: linear-gradient(to bottom, var(--main-color) 5%, var(--main-color) 100%);
    background-color: var(--main-color);
}

.table td,
.table th {
    padding: 20px 24px;
    TEXT-ALIGN: CENTER;
}

.table-hover tbody tr:hover {
    background-color: white;
    color: #3aabd0;
}

.tm-bg-gray {
    background-color: rgba(0, 0, 0, 0.05);
}

.tm-table-striped-even.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

.tm-table-striped-even.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
}

.tm-table-mt {
    margin-top: 66px;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bg-white {
    background-color: #fff!important;
    /* padding: 0.1rem; */
    background: #f1f5f9;
}

col-xl-8 col-lg-12 tm-md-12 tm-sm-12 tm-col {
    position: relative;
    width: 100%;
    margin-left: 15%;
    padding-right: 15px;
    padding-left: 15px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto p {
    position: relative;
    width: 100%;
    margin-left: 16%;
    padding-right: 15px;
    padding-left: 15px;
}

a.btn.btn-small.btn-primary {
    background-color: var(--main-color);
    color: white;
    padding: 11px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 152%;
    margin-top: -14%;
}

h2.tm-block-title.d-inline-block {
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-right: 15%;
    text-align: right;
    margin-left: -20%;
}

.roww {
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    padding: 0px;
}

i.las.la-edit,
i.las.la-trash-alt {
    margin-left: 10%;
    font-size: -webkit-xxx-large;
}

div.form-group.mx-auto,
.POST {
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}

select {
    text-transform: none;
    margin-top: 10%;
}

a.btn.bt-primary,
button.btn.bt-primary {
    text-transform: none;
    margin-top: 10%;
}